<template>
<div>           
    <section>
        <div class="container">            
                <label class="esh-catalog-label" data-title="brand">
                    <select class="esh-catalog-filter" v-model.lazy="catalog.brandFilterApplied">
                        <option v-for="brand in catalog.brands" :disabled="brand.disabled" :selected="brand.selected" :value="brand.value">{{ brand.text }}</option>
                    </select>
                </label>
                <label class="esh-catalog-label" data-title="type">
                    <select class="esh-catalog-filter" v-model.lazy="catalog.typesFilterApplied">
                        <option v-for="type in catalog.types":disabled="type.disabled" :selected="type.selected" :value="type.value">{{ type.text }}</option>
                    </select>
                </label>
                <input class="btn esh-catalog-send" type="image" src="images/arrow-right.svg" @click="execGetCatalog" />
        </div>        
    </section>
    <div class="container">
        <div v-if="catalog.catalogItems" class="esh-catalog-items row">            
                <div class="esh-catalog-item col-md-4" v-for="product in catalog.catalogItems">
                    <img class="esh-catalog-thumbnail" :src="product.pictureUri" />
                    <input class="btn esh-catalog-button" type="submit" value="[ ADD TO BASKET ]" />
                
                    <div class="esh-catalog-name">
                        <span>{{ product.name }}</span>
                    </div>
                    <div class="esh-catalog-price">
                        <span>{{ product.price }}</span>
                    </div>
                </div>            
        </div>
        <p v-else><em>Loading Catalog...</em></p>
    </div>
</div>
</template>
<script src="./catalog.ts"></script>