<template>
    <div>
            <section class="esh-catalog-hero">
                    <div class="container">
                        <img class="esh-catalog-title" src="images/main_banner_text.png" />
                    </div>
                </section>
                
    <section class="esh-catalog-hero">
        <div class="container">
            <form asp-action="Index" asp-controller="Catalog" method="post">
                <label class="esh-catalog-label" data-title="brand">
                    <select class="esh-catalog-filter" v-model="catalog.brandFilterApplied">
                        <option v-for="brand in catalog.brands" v-bind:value="brand.value">{{ brand.text }}</option>
                    </select>
                </label>
                <label class="esh-catalog-label" data-title="type">
                    <select class="esh-catalog-filter" v-model="catalog.typesFilterApplied">
                        <option v-for="type in catalog.types" v-bind:value="type.value">{{ type.text }}</option>
                    </select>
                </label>
                <input class="esh-catalog-send" type="image" src="images/arrow-right.svg" />
            </form>
        </div>        
    </section>
    <div class="container">
        <div v-if="catalog.catalogItems.length" class="esh-catalog-items row">            
                <div class="esh-catalog-item col-md-4" v-for="product in catalog.catalogItems">
                    <img class="esh-catalog-thumbnail" :src="product.pictureUri" />
                    <input class="esh-catalog-button" type="submit" value="[ ADD TO BASKET ]" />
                
                    <div class="esh-catalog-name">
                        <span>{{ product.name }}</span>
                    </div>
                    <div class="esh-catalog-price">
                        <span>{{ product.price }}</span>
                    </div>
                </div>            
        </div>
    </div>
</div>
</template>
<script src="./catalog.ts"></script>
<style src="./catalog.css" />