.esh-search-send {
    background-color: #83D01B;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.35s;
    width: 46px;
    height: 46px;
}

.esh-search-send:hover {
    background-color: #4a760f;
    transition: all 0.35s;
    color: #FFFFFF;
}